
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Website</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/utility.css">
</head>
<body>
    <div class="main-container">
      <!-- Navigation Bar -->
        <div class="nav-container">
            <div class="navBar m-auto">
                <div class="nav">
                    <div class="navbar-brand font-color"><h3>Snmov</h3></div>
                    <div class="navbar-nav">
                        <div class="dropdown">
                            <button class="dropbtn">Movie<i style="margin-left:3px;" class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> SciFi </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Oscar Wining </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Marvel/Dc </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Cartoon </a>
                            </div>
                          </div>
                          <div class="dropdown">
                            <button class="dropbtn">Geners<i style="margin-left:3px;" class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Anime </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Biography </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Comedy </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Drama </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> War </a>
                            </div>
                          </div><div class="dropdown">
                            <button class="dropbtn" >Special Category<i style="margin-left:3px;" class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> IMDB Rating </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Oscar Wining Movies </a>
                              <a href="#"><i style="margin-left:3px;" class="fa fa-caret-right"></i> Marvel/Dc Movies </a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="navbar-search"><input type="text" placeholder="Search"></div>
             </div>
        </div>
        
        <!-- A B C ..... Z -->
        
             <!-- <div class="text-order m-auto"></div> -->
        <!-- Post Area -->
            <div class="main-post m-auto">
                <div class="post-container">
                  <!-- Feature Post -->
                                  
                    <div class="feature-post m-auto">
                      <a href="#">
                        <div class="featured">
                          <div class="featured-img">
                            <img src="static/img/black.jpg" alt="">
                            <p class="mov">MOVIE</p>
                          </div>
                          <p>Black Panther Wakanda Forever 2023 ORIGINAL WEB-DL 1080P</p>
                          </div>
                      </a>  
                      
                      <a href="#">
                        <div class="featured">
                          <div class="featured-img">
                            <img src="static/img/black.jpg" alt="">
                            <p class="mov">MOVIE</p>
                          </div>
                          <p>Black Panther Wakanda Forever 2023 ORIGINAL WEB-DL 1080P</p>
                         </div>
                      </a>                        
                    </div>
                  
                    <!-- end of featured post -->
                      <!-- <hr> -->
                      <div class="container">
                        <div class="mov-title m-auto">
                          <div style="border-left: 2px solid red;padding-left: 5px;margin: 10px;color: white; font-weight: 500; font-size: 20px;">Latest Movies</div>
                          <div style="display: flex; justify-content: center; align-items: center;">
                            <span style="color: rgb(147, 142, 142);font-size: 14px;">100</span>
                            <p style="background-color: red; color: white; font-size: 10px;margin: 10px;padding: 2px;">SEE ALL</p>
                          </div>
                        </div>
                      </div>
                    
                    <!-- Movie Area -->
                    <div class="container">
                        <div class="post-area">
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                          <div class="mov-item">
                            <div class="mov-img">
                              <img src="static/img/black1.jpg" alt="">
                              <p class="mov-type">
                                Dual Audio
                              </p>
                              <div class="mov-item-name">
                                Black Panther Wakanda Forever [Hindi+Eng]
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    
                </div>   
                
                    <!-- Label Area -->
                <div class="label-container"></div>   
                </div>
                      
            </div>
        
    </div>
    <script src="https://kit.fontawesome.com/d42c36ec92.js" crossorigin="anonymous"></script>
</body>
</html>